.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  text-align: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: 0.3s ease;
}

.header nav a:hover {
  background-color: var(--primary-color);
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: var(--primary-color);
}

.sidebar a.active {
  background-color: var(--primary-color);
}

.main-content {
  grid-area: main;
  padding: 2rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header"
      "sidebar"
      "main";
    grid-template-columns: 1fr;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
  }
}

